<template>

    <v-container>
        <div class="about">
            <h1>This is an about page</h1>
            <div class="">Baza danych mongoDB na stronie mlab.com (500mb limitu w wersji darmowej)</div>
            <div class="">Autor: Paweł Karp, kontakt: ...........</div>

            <div class="">RODO ?</div>
            <div class="">Historia wersji</div>
        </div>



        <v-layout wrap>
            <v-flex xs12 sm12 md12 class="headline">Licencja
            </v-flex>
            <v-flex xs12 sm12 md12> Copyright © 2004-2013 by Internet Systems Consortium, Inc. (“ISC”)</v-flex>
            <v-flex xs12 sm12 md12>
                <v-divider></v-divider>
            </v-flex>
            <v-flex xs12 sm12 md12> Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.</v-flex>
            <v-flex xs12 sm12 md12>THE SOFTWARE IS PROVIDED “AS IS” AND ISC DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS.
                IN NO EVENT SHALL ISC BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
                NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.</v-flex>
            <v-flex xs12 sm12 md12>
                <v-divider></v-divider>
            </v-flex>
            <v-flex xs12 sm12 md12 class="title"> Po polsku:</v-flex>
            <v-flex xs12 sm12 md12>Zezwala na korzystanie z programu i jego kodu źródłowego w dowolnym celu, pod warunkiem zachowania informacji o autorze wraz z treścią licencji. Ponadto autor nie udziela żadnych gwarancji związanych z programem.</v-flex>
            <v-flex xs12 sm12 md12></v-flex>

        </v-layout>





        <!-- <v-textarea name="input-7-1" readonly outline no-resize label="Licencja" value="Copyright © 2004-2013 by Internet Systems Consortium, Inc. (“ISC”)
    Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, 
    provided that the above copyright notice and this permission notice appear in all copies.

        THE SOFTWARE IS PROVIDED “AS IS” AND ISC DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. 
        IN NO EVENT SHALL ISC BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.


      ">aaaa</v-textarea> -->





    </v-container>

</template>