<template>
    <v-container>
        <v-toolbar flat color="brown lighten-5">
            <v-toolbar-title>Komory leżakowe</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>

        <v-container grid-list-md>
            <v-layout wrap>
                <v-flex xs12 sm12 md12>
                    <span class="subheading font-weight-medium font-italic">Suma w silosach:</span>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S1 Podnośnik" v-model="actualDeliveriesSum[1]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S2 Waga" v-model="actualDeliveriesSum[2]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S3 Lewy" v-model="actualDeliveriesSum[3]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S4 Prawy" v-model="actualDeliveriesSum[4]"></v-text-field>
                </v-flex>



                <v-flex xs12 sm12 md12>
                    <span class="subheading font-weight-medium font-italic">Procentowy udział w ilości do
                        moczenia:</span>
                </v-flex>


                <v-flex xs12 sm6 md8>
                    <v-text-field label="Pobrano - całkowita ilość z wszystkich silosów (t)" v-model="totalaAmountFromSilos"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                    <v-tooltip bottom>
                        <v-btn  slot="activator" @click="autoPercent()" dark color="brown lighten-2">Auto %
                            <v-icon right dark>build</v-icon>
                        </v-btn>
                        <span>Automatyczne policzenie % dla silosów</span>
                    </v-tooltip>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <!-- <v-text-field label="S1 Podnośnik (%)" v-model="percentSilos1" hint="Procentowy udział silosa" :rules="[rules.isNumber, rules.required]"></v-text-field> -->
                    <v-text-field label="S1 Podnośnik (%)" v-model="percentSilos1" hint="Procentowy udział silosa" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="S2 Waga (%)" v-model="percentSilos2" hint="Procentowy udział silosa" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="S3 Lewy (%)" v-model="percentSilos3" hint="Procentowy udział silosa" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="S4 Prawy (%)" v-model="percentSilos4" hint="Procentowy udział silosa" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 md4>
                    <v-text-field :disabled="true" label="Suma" v-model="percentSilosSum" :rules="[rules.isNumber, rules.sum100]"></v-text-field>
                </v-flex>

                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S1 Podnośnik (t)" v-model="forSoakingSilos1"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S2 Waga (t)" v-model="forSoakingSilos2"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S3 Lewy (t)" v-model="forSoakingSilos3"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="S4 Prawy (t)" v-model="forSoakingSilos4"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 md4>
                    <v-text-field :disabled="true" label="Suma" v-model="valueSilosSum"></v-text-field>
                </v-flex>


                <v-flex xs12 sm12 md12>
                    <span class="subheading font-weight-medium font-italic">Komory leżakowe:</span>
                </v-flex>


                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="Aktualny stan [1i2]" v-model="actualChaberSum[1]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="Aktualny stan [3]" v-model="actualChaberSum[2]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="Aktualny stan [4]" v-model="actualChaberSum[3]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field :disabled="true" label="Aktualny stan [5]" v-model="actualChaberSum[4]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 md4>
                    <v-text-field :disabled="true" label="Aktualny stan - suma" v-model="actualSum" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>

                <v-flex xs12 sm2 md2>
                    <v-text-field label="Napełniono [1i2]" v-model="addedToChaber1" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="Napełniono [3]" v-model="addedToChaber2" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="Napełniono [4]" v-model="addedToChaber3" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="Napełniono [5]" v-model="addedToChaber4" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 md4>
                    <v-text-field :disabled="true" label="Napełniono z silosów - suma" v-model="filledSum" :rules="[rules.isNumber, rules.isEqual_2]"></v-text-field>
                </v-flex>

                <v-flex xs12 sm2 md2>
                    <v-text-field label="Pobrano [1i2]" v-model="takenFromChaber1" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="Pobrano [3]" v-model="takenFromChaber2" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="Pobrano [4]" v-model="takenFromChaber3" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm2 md2>
                    <v-text-field label="Pobrano [5]" v-model="takenFromChaber4" @focus="$event.target.select()" :rules="[rules.isNumber]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 md4>
                    <v-text-field :disabled="true" label="Pobrano na przemiał - suma" v-model="soakSum" ></v-text-field>
                </v-flex>
            </v-layout>
        </v-container>

        <!-- Operacje przeliczeń -->
        <v-toolbar flat color="brown lighten-5">
            <v-toolbar-title>Operacje:</v-toolbar-title>
            <v-spacer></v-spacer>

            <v-flex xs12 sm3 md3>
                <v-menu v-model="menu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                    <template v-slot:activator="{ on }">
                        <v-text-field v-model="date" label="Wybierz datę" max-width="50px" prepend-icon="event" readonly v-on="on" :hide-details="true"></v-text-field>
                    </template>
                    <v-date-picker v-model="date" @input="menu = false" no-title color="brown"></v-date-picker>
                </v-menu>
            </v-flex>

            <v-flex xs12 sm3 md3 text-xs-right>
                <v-btn dark @click="makeCalculations()" color="brown lighten-2">Przelicz
                    <v-icon right dark>play_circle_outline</v-icon>
                </v-btn>
            </v-flex>

            <v-flex xs12 sm3 md3 text-xs-right>
                <v-tooltip bottom>
                    <v-btn slot="activator" dark @click="saveAllToDB()" color="red darken-4">Zapisz!
                        <v-icon right dark>cloud_upload</v-icon>
                    </v-btn>
                    <span>Zapisanie danych z obliczeń do bazy danych</span>
                </v-tooltip>
            </v-flex>
        </v-toolbar>

        <v-alert v-model="alert" dismissible type="error" transition="scale-transition" outline>
            Należy podać prawidłową datę!
        </v-alert>

        <v-alert v-model="succes" dismissible type="success" transition="scale-transition" outline>
            Chyba wszystko OK :) Czas wklepywać następny dzień. Sprawdź jescze czy jest nowy wpis w raportach
        </v-alert>


        <!-- Otręby, procenty typów mąki -->
        <v-container>
            <v-layout wrap>
                <v-flex xs12 sm12 md12>
                    <span class="subheading font-weight-medium font-italic">Procentowy udział typów mąki i otrębów w dzisiejszym wyrobie:</span>
                </v-flex>

                <v-flex xs6 sm1 md1>
                    <v-text-field label="%" outline hint="m450" persistent-hint v-model="m450perc"></v-text-field>
                </v-flex>
                <v-flex xs6 sm1 md1>
                    <v-text-field label="t" box :disabled="true" v-model="m450t"></v-text-field>
                </v-flex>

                <v-flex xs6 sm1 md1 offset-md1 offset-sm1>
                    <v-text-field label="%" outline hint="m750" persistent-hint v-model="m750perc"></v-text-field>
                </v-flex>
                <v-flex xs6 sm1 md1>
                    <v-text-field label="t" box :disabled="true" v-model="m750t"></v-text-field>
                </v-flex>

                <v-flex xs6 sm2 md2 offset-md1 offset-sm1>
                    <v-text-field label="t" outline hint="Otręby" v-model="otreby" persistent-hint></v-text-field>
                </v-flex>
                <v-flex xs6 sm2 md2 offset-md1 offset-sm1>
                    <v-text-field label="t" box :disabled="true" hint="Suma" persistent-hint v-model="typesSum"></v-text-field>
                </v-flex>

            </v-layout>
        </v-container>


        <!-- Wylistowanie operacji przeliczeń -->
        <v-container>
            <v-layout wrap>

                <SimpleTable :title="'Dostawcy, dzisiaj napełniono:'" :headers="['Data dostawy', 'Dostawca', 'Napełniono', 'Z silosa']" :keys="['deliveryDate', 'name', 'in', 'silos']" :sums="[false, false, true, false]" :columns="chamberAddedGrain" />

                <SimpleTable :title="'Dostawcy, udział w dzisiejszym wyrobie z poprzednich dni:'" :headers="['Z dnia moczenia', 'Z komory', 'Data dostawy', 'Od dostawcy', 'Pobrano', 'm450', 'm750']" :keys="['date', 'chamber', 'deliveryDate', 'name', 'val', 'm450', 'm750']"
                    :sums="[false, false, false, false, true, false, false]" :columns="dayRaport" />

            </v-layout>
        </v-container>




    </v-container>
</template>


<script>
    import dataService from '../dataService.js'
    import underscore from 'underscore'
    import SimpleTable from '../components/SimpleTable.vue'

    export default {
        data() {
            return {
                totalaAmountFromSilos: null,

                percentSilos1: 0,
                percentSilos2: 0,
                percentSilos3: 0,
                percentSilos4: 0,

                addedToChaber1: 0,
                addedToChaber2: 0,
                addedToChaber3: 0,
                addedToChaber4: 0,

                takenFromChaber1: 0,
                takenFromChaber2: 0,
                takenFromChaber3: 0,
                takenFromChaber4: 0,

                urlDeliveries: 'api/deliveries/', //http://localhost:5000/api/deliveries/'
                urlChambers: 'api/chambers/', // 'http://localhost:5000/api/chambers/'
                urlRaports: 'api/raports/', // 'http://localhost:5000/api/raports/'
                deliveries: [], // dostawy ziarna do silosów
                chambers: [], // stan komor leżakowych z poprzednich dni
                chamberAddedGrain: [],
                dayRaport: [],
                fullRaport: {}, // tutaj będą zapisane wszystkie dane, które będą wrzucone do bazy danych

                deliveriesUpdated: [],
                chambersUpdated: [],

                m450perc: 60,
                m750perc: 40,
                otreby: 10,

                menu: false,
                date: new Date().toISOString().substr(0, 10),
                alert: false,
                succes: false,

                rules: {
                    required: value => !!value || "Pole wymagane!",
                    sum100: value => value == 100 || "Suma musi być równa 100%!",
                    isEqual_2: value => value == this.totalaAmountFromSilos || 'Nie równe z "Pobrano (t)"',
                    isNumber: value => !isNaN(value) || "Nie wartość liczbowa!",
                }
            };
        },
        components: {
            SimpleTable
        },
        created() {
            this.getDeliveries()
            this.getChambers()
            //this.date = new Date().getFullYear() + '-01-01' // ustawienie tej daty aby później sprawdzić czy użytkownik wpisał cokolwiek -> poprawna data jest ważna przy tworzeniu raportów i aktrualizacji stanu komór
            this.date = null


        },
        computed: {
            deliveriesSum: function () {
                return (parseFloat(this.actualDeliveriesSum[1]) + parseFloat(this.actualDeliveriesSum[2]) + parseFloat(this.actualDeliveriesSum[3]) + parseFloat(this.actualDeliveriesSum[4]));
            },
            percentSilosSum: function () {
                return (parseFloat(this.percentSilos1) + parseFloat(this.percentSilos2) + parseFloat(this.percentSilos3) + parseFloat(this.percentSilos4));
            },
            valueSilosSum: function () {
                return (parseFloat(this.forSoakingSilos1) + parseFloat(this.forSoakingSilos2) + parseFloat(this.forSoakingSilos3) + parseFloat(this.forSoakingSilos4));
            },
            actualSum: function () { // aktualna wartość w komorach leżakowych - to co zostało z poprzednich dni
                return (parseFloat(this.actualChaberSum[1]) + parseFloat(this.actualChaberSum[2]) + parseFloat(this.actualChaberSum[3]) + parseFloat(this.actualChaberSum[4]));
            },
            filledSum: function () { // napełniono komory leżakowe
                return (parseFloat(this.addedToChaber1) + parseFloat(this.addedToChaber2) + parseFloat(this.addedToChaber3) + parseFloat(this.addedToChaber4));
            },
            soakSum: function () { // suma pobrana na przemiał
                return (parseFloat(this.takenFromChaber1) + parseFloat(this.takenFromChaber2) + parseFloat(this.takenFromChaber3) + parseFloat(this.takenFromChaber4));
            },


            // ilość pobrana na przemiał (do moczenia) z poszczególnych silosów:
            forSoakingSilos1: function () {
                return this.percentSilos1 * this.totalaAmountFromSilos / 100
            },
            forSoakingSilos2: function () {
                return this.percentSilos2 * this.totalaAmountFromSilos / 100
            },
            forSoakingSilos3: function () {
                return this.percentSilos3 * this.totalaAmountFromSilos / 100
            },
            forSoakingSilos4: function () {
                return this.percentSilos4 * this.totalaAmountFromSilos / 100
            },

            m450t: function () {
                return ((parseFloat(this.soakSum) - parseFloat(this.otreby)) * (parseFloat(this.m450perc) / 100)).toFixed(1)
            },
            m750t: function () {
                return ((parseFloat(this.soakSum) - parseFloat(this.otreby)) * (parseFloat(this.m750perc) / 100)).toFixed(1)
            },
            typesSum: function () {
                return parseFloat(this.otreby) + parseFloat(this.m450t) + parseFloat(this.m750t)
            },

            actualChaberSum: function () {
                let sum = [0, 0, 0, 0, 0, 0]; // indeks 0 zawsze pusty, numeracja zgodnie z silosami i komorami
                this.chambers.forEach(element => {
                    sum[1] += parseFloat(element.act_ch1)
                    sum[2] += parseFloat(element.act_ch2)
                    sum[3] += parseFloat(element.act_ch3)
                    sum[4] += parseFloat(element.act_ch4)
                })
                return sum
            },
            actualDeliveriesSum: function () {
                let sum = [0, 0, 0, 0, 0];
                this.deliveries.forEach(element => {
                    sum[1] += parseFloat(element.act_s1)
                    sum[2] += parseFloat(element.act_s2)
                    sum[3] += parseFloat(element.act_s3)
                    sum[4] += parseFloat(element.act_s4)
                })

                sum[1] = sum[1].toFixed(2)
                sum[2] = sum[2].toFixed(2)
                sum[3] = sum[3].toFixed(2)
                sum[4] = sum[4].toFixed(2)
                return sum
            },

        },
        methods: {
            dateIsInvalid() {
                //const tempDate = new Date().getFullYear() + '-01-01'
                if (this.date == null) { //  -> 'aktualnyRok-01-01'
                    this.alert = true
                    return true
                } else {
                    this.alert = false
                    return false
                }
            },

            autoPercent() {
                function round5(x) {
                    return Math.ceil(x / 5) * 5;
                }
                
                const sumInSilos = parseFloat(this.actualDeliveriesSum[1]) + parseFloat(this.actualDeliveriesSum[2]) + parseFloat(this.actualDeliveriesSum[3]) + parseFloat(this.actualDeliveriesSum[4])
                let tempArr = []
                tempArr[1] = round5(this.actualDeliveriesSum[1] / sumInSilos * 100)
                tempArr[2] = round5(this.actualDeliveriesSum[2] / sumInSilos * 100)
                tempArr[3] = round5(this.actualDeliveriesSum[3] / sumInSilos * 100)
                tempArr[4] = round5(this.actualDeliveriesSum[4] / sumInSilos * 100)
                const sumPercent = tempArr[1] + tempArr[2] + tempArr[3] + tempArr[4]
                if (sumPercent > 100) {
                    let rest =  (sumPercent - 100) / 5
                    for (let i = 1; i <= rest; i++) {
                        tempArr[i] = tempArr[i] - 5
                    }
                }
                 this.percentSilos1 = tempArr[1]
                 this.percentSilos2 = tempArr[2]
                 this.percentSilos3 = tempArr[3]
                 this.percentSilos4 = tempArr[4]
            },

            async getDeliveries() { // pobranie danych z bazy danych
                this.deliveries = await dataService.getData(this.urlDeliveries)
            },

            async getChambers() { // pobranie danych z bazy danych
                this.chambers = await dataService.getData(this.urlChambers)
            },

            async makeCalculations() {
                // Stworzenie nowego wpisu do bazy danych z wpisami do komór leżakowych
                if (this.dateIsInvalid()) return // data MUSI być dobra
                await this.calculateSilos() // potrzebujemy listy dostawców: this.chamberAddedGrain
                const chambersNewDay = {}
                chambersNewDay.date = this.date
                chambersNewDay.suppliers = this.chamberAddedGrain
                chambersNewDay.in_ch1 = parseFloat(this.addedToChaber1)
                chambersNewDay.in_ch2 = parseFloat(this.addedToChaber2)
                chambersNewDay.in_ch3 = parseFloat(this.addedToChaber3)
                chambersNewDay.in_ch4 = parseFloat(this.addedToChaber4)
                chambersNewDay.act_ch1 = chambersNewDay.in_ch1
                chambersNewDay.act_ch2 = chambersNewDay.in_ch2
                chambersNewDay.act_ch3 = chambersNewDay.in_ch3
                chambersNewDay.act_ch4 = chambersNewDay.in_ch4

                const response = await dataService.getData(this.urlChambers, false, chambersNewDay.date) // sprawdź czy nie ma już dnia z tą datą.  Parametry zapytania: (url, getAll, date)
                if (response.length > 0) { // w bazie danych jest już rekord z tego dnia, trzeba zaktualizować
                    Object.keys(chambersNewDay).forEach(function (key) { // aktualizuj wszystkie pola w odpowiedzi
                        response[0][key] = chambersNewDay[key]
                    });
                    await dataService.updateData(this.urlChambers, response)
                } else { // nie ma rekordu z tego dnia, wstaw nowy
                    await dataService.insertData(this.urlChambers, chambersNewDay)
                }
                await this.calculateChambers()

            },

            calculateSilos() {
                const calculateSingleSilos = (_doPobrania, _act_silos) => { // funkcja do przeliczenia danych z jednego silosa
                    for (let i = 0; i <= sortedDeliveries.length - 1; i++) {
                        let pobrano = {}
                        if (_doPobrania > 0 && sortedDeliveries[i][_act_silos] > 0) { // w silosie jest zboże i należy jeszcze jakąś ilość pobrać
                            pobrano.name = sortedDeliveries[i].name // zapamiętanie nazwy tego dostawcy...
                            pobrano.deliveryDate = sortedDeliveries[i].date // ...oraz daty tej dostawy
                            pobrano.silos = _act_silos.replace('act_s', '') // zapamiętanie numeru silosa
                            if (_doPobrania > sortedDeliveries[i][_act_silos]) { // jest więcej do pobrania niż posiada ten dostawca  
                                pobrano.in = sortedDeliveries[i][_act_silos].toFixed(2) // zapamiętanie ile zostało pobrane od tego dostawcy  
                                _doPobrania = _doPobrania - sortedDeliveries[i][_act_silos].toFixed(2) // aktualizacja wartośći, któa ma być dobrana od następnego dostawcy
                                sortedDeliveries[i][_act_silos] = 0 // wyzerowanie aktualnej wartości w silosie, wszystko zostało już pobrane
                            } else { // nie wszystko od tego dostawcy zostanie pobrane  
                                pobrano.in = _doPobrania.toFixed(2)
                                sortedDeliveries[i][_act_silos] = (sortedDeliveries[i][_act_silos] - _doPobrania).toFixed(2) // zapisanie ile zostało po pobraniu
                                _doPobrania = 0
                            }
                            this.chamberAddedGrain.push(pobrano) // pierwsza część raportu - z jakich silosów pobrano ziarno do moczenia (ile, data dostawy, rolnik)

                            function checkId(element) { // sprawdzenie czy dana dostawa nie została już dodana podczas sprawdzania jednego z wcześniejszych silosów
                                return element._id == sortedDeliveries[i]._id
                            }
                            let isAlreadyAdded = this.deliveriesUpdated.find(checkId)
                            if (!isAlreadyAdded) this.deliveriesUpdated.push(sortedDeliveries[i]) // zapamiętanie z której dostawy było pobranie - to zastanie potem wysłane do aktualizacji bazy danych
                        }
                        pobrano.act = pobrano.in // przy napełnianiu ustawienie od razu wartości na której będzie się później działać (pobierać)
                    }
                }

                this.getDeliveries() // po każdym kliknięciu przeliczenia pobierz zestaw danych z bazy danych
                this.deliveriesUpdated = []
                const sortedDeliveries = underscore.sortBy(this.deliveries, 'time') // ułożenie danych po datach, najwcześniejsza będzie miała indeks [0]
                this.chamberAddedGrain.length = 0 // wyzerowanie tablicy
                if (this.forSoakingSilos1 > 0) calculateSingleSilos(this.forSoakingSilos1, 'act_s1')
                if (this.forSoakingSilos2 > 0) calculateSingleSilos(this.forSoakingSilos2, 'act_s2')
                if (this.forSoakingSilos3 > 0) calculateSingleSilos(this.forSoakingSilos3, 'act_s3')
                if (this.forSoakingSilos4 > 0) calculateSingleSilos(this.forSoakingSilos4, 'act_s4')
            },

            calculateChambers() {
                this.chambersUpdated = []
                this.dayRaport = []
                this.getChambers() // po każdym kliknięciu załaduj z bazy danych
                const chambersSorted = underscore.sortBy(this.chambers, 'date') // posortowanie po dacie
                const requestedValues = [0, parseFloat(this.takenFromChaber1), parseFloat(this.takenFromChaber2), parseFloat(this.takenFromChaber3), parseFloat(this.takenFromChaber4)]
                for (let i = 0; i <= chambersSorted.length - 1; i++) { // sprawdzenie całych poprzednich dni z moczenia
                    const sumAllChambers = chambersSorted[i].act_ch1 + chambersSorted[i].act_ch2 + chambersSorted[i].act_ch3 + chambersSorted[i].act_ch4 // suma wszystkich komór z tego dnia, potrzebne do wyliczenia procentów
                    let pobranoZTegoDnia = 0
                    let procentPobraniaDostawcy
                    for (let chambNr = 1; chambNr <= 4; chambNr++) { // sprawdzenie każdej komory z osobna
                        let chambName = 'act_ch' + chambNr
                        let pobranoZKomory = 0
                        if (requestedValues[chambNr] > 0 && chambersSorted[i][chambName] > 0) { // jeżeli jest coś jeszcze do pobrania i w komorze jest materiał
                            if (requestedValues[chambNr] - chambersSorted[i][chambName] > 0) { // wszystko już zostało pobrane z tego (poprzedniego) dnia, trzeba będzie przeszukać następne dni żeby znaleźć więcej 
                                pobranoZKomory = chambersSorted[i][chambName]
                                requestedValues[chambNr] = requestedValues[chambNr] - pobranoZKomory // zmniejszenie ilości do pobrania o to co właśnie zostało pobrane z tej komory
                                chambersSorted[i][chambName] = 0
                            } else { // po pobraniu żądanej wartości w tej komorze został jeszcze materiał
                                pobranoZKomory = requestedValues[chambNr]
                                requestedValues[chambNr] = 0
                                chambersSorted[i][chambName] = chambersSorted[i][chambName] - pobranoZKomory
                            }
                            pobranoZTegoDnia = pobranoZTegoDnia + pobranoZKomory

                            let raportRecord = {}
                            procentPobraniaDostawcy = (pobranoZKomory / sumAllChambers * 100).toFixed(2); // ile zostanie pobrane od dostawcy(ów)
                            chambersSorted[i].suppliers.forEach((element, index) => { // Stworzenie rekordu do raportu
                                raportRecord = {}
                                const pobranoOdDostawcy = (element.act * procentPobraniaDostawcy / 100)
                                raportRecord.date = chambersSorted[i].date // z którego dnia brano przeliczenia
                                raportRecord.chamber = chambNr + 1 // // z której komory pobrano (+1 to aktualizacja rzeczywistego nazewnictwa w młymie - [1i2], [3], [4]. [5])
                                raportRecord.name = element.name // nazwa dostawcy
                                raportRecord.deliveryDate = element.deliveryDate // data dostawy do młyna
                                raportRecord.val = pobranoOdDostawcy.toFixed(2)
                                raportRecord.m450 = (this.m450perc / 100 * pobranoOdDostawcy).toFixed(2)
                                raportRecord.m750 = (this.m750perc / 100 * pobranoOdDostawcy).toFixed(2)
                                raportRecord.index = Date.now() + index // to jest tylko po to żeby vue się nie pluł o v-bind przy pętli v-for
                                this.dayRaport.push(raportRecord)
                            });
                            raportRecord = {} // po każdym przeliczeniu dodaj pusty wiersz do tabeli (lepiej się czyta raport)
                            raportRecord.val = 0
                            this.dayRaport.push(raportRecord)
                        }
                    }

                    // Zmniejszenie wartości aktualnych u poszczególnych dostawców z tego dnia
                    if (pobranoZTegoDnia > 0) {
                        procentPobraniaDostawcy = (pobranoZTegoDnia / sumAllChambers * 100).toFixed(2);
                        chambersSorted[i].suppliers.forEach((element, index) => {
                            const pobranoOdDostawcy = (element.act * procentPobraniaDostawcy / 100)
                            element.act = (element.act - pobranoOdDostawcy).toFixed(2)
                        })
                        this.chambersUpdated.push(chambersSorted[i])
                    }
                }
            },

            async saveAllToDB() {
                // - zrobienie kopii danych aby w razie błędu można było wrócić do tego dnia
                // - Zapisanie aktualnych danych z dostaw do silosów (this.deliveries) API suppliers.js
                // - Zapisanie danych z komór leżakowych do bazy API chambers.js  
                const currentDate = new Date()
                this.fullRaport = {}
                this.fullRaport.dateTime = this.date + 'T' + currentDate.getHours() + ':' + currentDate.getMinutes() + ':' + currentDate.getSeconds()
                this.fullRaport.chamberAddedGrain = this.chamberAddedGrain
                this.fullRaport.dayRaport = this.dayRaport
                this.fullRaport.deliveriesBackup = this.deliveries
                this.fullRaport.chambersBackup = this.chambers

                this.fullRaport.totalaAmountFromSilos = parseFloat(this.totalaAmountFromSilos)
                this.fullRaport.percentSilos1 = parseFloat(this.percentSilos1)
                this.fullRaport.percentSilos2 = parseFloat(this.percentSilos2)
                this.fullRaport.percentSilos3 = parseFloat(this.percentSilos3)
                this.fullRaport.percentSilos4 = parseFloat(this.percentSilos4)

                this.fullRaport.forSoakingSilos1 = parseFloat(this.forSoakingSilos1)
                this.fullRaport.forSoakingSilos2 = parseFloat(this.forSoakingSilos2)
                this.fullRaport.forSoakingSilos3 = parseFloat(this.forSoakingSilos3)
                this.fullRaport.forSoakingSilos4 = parseFloat(this.forSoakingSilos4)

                this.fullRaport.addedToChaber1 = parseFloat(this.addedToChaber1)
                this.fullRaport.addedToChaber2 = parseFloat(this.addedToChaber2)
                this.fullRaport.addedToChaber3 = parseFloat(this.addedToChaber3)
                this.fullRaport.addedToChaber4 = parseFloat(this.addedToChaber4)

                this.fullRaport.takenFromChaber1 = parseFloat(this.takenFromChaber1)
                this.fullRaport.takenFromChaber2 = parseFloat(this.takenFromChaber2)
                this.fullRaport.takenFromChaber3 = parseFloat(this.takenFromChaber3)
                this.fullRaport.takenFromChaber4 = parseFloat(this.takenFromChaber4)

                if (this.dateIsInvalid()) return // data MUSI być dobra
                var writeToDb = confirm('Czy na pewno zapisać?')
                if (writeToDb) {
                    await dataService.insertData(this.urlRaports, this.fullRaport) // zapisanie nowego raportu
                    if (this.deliveriesUpdated.length > 0) await dataService.updateData(this.urlDeliveries, this.deliveriesUpdated) // aktualizacja danych w silosach
                    if (this.chambersUpdated.length > 0) await dataService.updateData(this.urlChambers, this.chambersUpdated) // aktualizacja danych w komorach leżakowych

                    this.succes = true
                    //console.log(this.fullRaport)
                    //console.log(this.deliveriesUpdated)
                    //console.log(this.chambersUpdated)
                }
            }

        }

    };
</script>



<style scoped>

</style>