<template>
    <v-container>
        <v-toolbar flat color="brown lighten-5">
            <v-toolbar-title>Pełna historia dostaw</v-toolbar-title>
        </v-toolbar>

        <!-- Tabela z dostawami -->
        <v-data-table
            :headers="headers"
            :pagination.sync="pagination"
            :items="deliveries"
            rows-per-page-text=""
            height="inherit"
            class="elevation-1 pa-0 ma-2"
            :expand="expand"
            item-key="name"
        >
            <!-- slot="items" slot-scope="props"  -->
            <template v-slot:items="props" class="text-xs-left pa-0 ma-0">
                <tr @click="props.expanded = !props.expanded">
                    <td class="text-xs-left pa-0 pl-2 ma-0">{{ props.item.name }}</td>
                    <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.date }}</td>
                    <td class="text-xs-center pa-0 pr-2 ma-0">{{ sumIn(props.item) }}</td>
                    <td class="text-xs-center pa-0 pr-2 ma-0">{{ sumActual(props.item) }}</td>
                    <td class="justify-center layout px-0">
                        <!-- <v-icon small class="mr-2" >remove_red_eye</v-icon> -->
                        <v-icon small class="mr-2">delete</v-icon>
                        <!-- <v-icon small class="mr-2" @click="editItem(props.item); showActValues=true">edit</v-icon>
                    <v-icon small class="mr-2" @click=deleteItem(props.item)>delete</v-icon> -->
                    </td>
                </tr>
            </template>
            <template v-slot:expand="props">
                <v-layout wrap>
                    <v-flex xs2 sm4 md4 text-xs-center class="subheading"> </v-flex>
                    <v-flex xs2 sm2 md2 class="subheading">S1</v-flex>
                    <v-flex xs2 sm2 md2 class="subheading">S2</v-flex>
                    <v-flex xs2 sm2 md2 class="subheading">S3</v-flex>
                    <v-flex xs2 sm2 md2 class="subheading">S4</v-flex>
                    <v-flex xs2 sm4 md4 text-xs-center> IN: </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.in_s1 }} </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.in_s2 }} </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.in_s3 }} </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.in_s4 }} </v-flex>
                    <v-flex xs2 sm4 md4 text-xs-center> ACT: </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.act_s1 }} </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.act_s2 }} </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.act_s3 }} </v-flex>
                    <v-flex xs2 sm2 md2> {{ props.item.act_s4 }} </v-flex>
                </v-layout>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
import dataService from '../dataService.js';

export default {
    data() {
        return {
            deliveries: [],
            expand: false,
            dbError: '',
            urlDeliveries: 'api/deliveries/', // http://localhost:5000/api/deliveries/'
            pagination: {
                // domyślne sortowanie po kolumnie z datą -> template: :pagination.sync="pagination"
                sortBy: 'time',
                descending: true,
                rowsPerPage: -1
            },
            headers: [
                {
                    text: 'Nazwa firmy',
                    align: 'left',
                    value: 'name'
                },
                {
                    text: 'Data dostawy',
                    align: 'center',
                    value: 'date'
                },
                {
                    text: 'W dniu dostawy',
                    align: 'center',
                    value: 'silos1'
                },
                {
                    text: 'Wartość aktualna',
                    align: 'center',
                    value: 'silos2'
                }
            ]
        };
    },
    created() {
        this.getDeliveries();
    },
    computed: {},

    methods: {
        async getDeliveries() {
            // pobranie danych z bazy danych
            try {
                this.deliveries = await dataService.getData(this.urlDeliveries, true);
            } catch (err) {
                this.dbError = err.message;
            }
        },

        sumActual(_item) {
            return (parseFloat(_item.act_s1) + parseFloat(_item.act_s2) + parseFloat(_item.act_s3) + parseFloat(_item.act_s4)).toFixed(2);
        },

        sumIn(_item) {
            return (parseFloat(_item.in_s1) + parseFloat(_item.in_s2) + parseFloat(_item.in_s3) + parseFloat(_item.in_s4)).toFixed(2);
        }
    }
};
</script>
