<template>

  <div class="home">
    <h1>This is an home page</h1>
    <div class="">Formularz do logowania</div>
  </div>



</template>

<script>

  export default {
    components: {
    }
  }
</script>
