<template>

  <div class="home">
    <h1>This is MongoDB service page</h1>
    <div class="">sprawczednie czy nie ma więcej niż 30 pustych dostwa - wyświetlenie v-badge</div>
    <div class="">sprawdznie stopnia zapełnienia bazy danych</div>
    <div class="">funkcja przywracania poprzednich dni</div>
    <div class="">eksport raportów (one zajmują najwięcej miejsca w bazie danych)</div>
  </div>



</template>

<script>

  export default {
    components: {
    }
  }
</script>
