<template>
  <v-container>
    <v-toolbar flat color="brown lighten-5">
      <v-toolbar-title>Raporty</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-expansion-panel inset focusable>
      <v-expansion-panel-content v-for="(item, i) in raports" :key="i">
        <template v-slot:header>
          <div>Dzień: {{ item.dateTime.substring(0, 10) }}</div>
        </template>
        <v-card>
          <v-tooltip bottom>
            <v-btn
              small
              outline
              slot="activator"
              @click="restoreDay(item)"
              dark
              color="red darken-4"
              >Przywróć!
              <v-icon right dark>cloud_download</v-icon>
            </v-btn>
            <span
              >UWAGA! Przywrócenie do tego dnia, skasowanie tych
              nastęnych!</span
            >
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn
              small
              outline
              slot="activator"
              @click="printToPdf(item)"
              dark
              color="brown darken-2"
              >Drukuj
              <v-icon right dark>print</v-icon>
            </v-btn>
            <span>Wysłanie dokumentu do drukarki, pliku pdf...</span>
          </v-tooltip>

          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4> Pobrano z silosów: </v-flex>
              <v-flex xs12 sm6 md8> {{ item.totalaAmountFromSilos }} </v-flex>

              <v-flex xs12 sm2 md4>Silosy (%):</v-flex>
              <v-flex xs12 sm2 md2>{{ item.percentSilos1 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.percentSilos2 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.percentSilos3 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.percentSilos4 }}</v-flex>

              <v-flex xs12 sm2 md4>Silosy (t):</v-flex>
              <v-flex xs12 sm2 md2>{{ item.forSoakingSilos1 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.forSoakingSilos2 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.forSoakingSilos3 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.forSoakingSilos4 }}</v-flex>

              <v-flex xs12 sm2 md4>Komory napełniono (t):</v-flex>
              <v-flex xs12 sm2 md2>{{ item.addedToChaber1 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.addedToChaber2 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.addedToChaber3 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.addedToChaber4 }}</v-flex>

              <v-flex xs12 sm2 md4>Komory pobrano (t):</v-flex>
              <v-flex xs12 sm2 md2>{{ item.takenFromChaber1 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.takenFromChaber2 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.takenFromChaber3 }}</v-flex>
              <v-flex xs12 sm2 md2>{{ item.takenFromChaber4 }}</v-flex>
            </v-layout>
          </v-container>

          <v-container :id="item._id">
            <SimpleTable
              :title="'Dostawcy, komory napełniono:'"
              :headers="['Data dostawy', 'Dostawca', 'Napełniono', 'Z silosa']"
              :keys="['deliveryDate', 'name', 'in', 'silos']"
              :sums="[false, false, true, false]"
              :columns="raports[i].chamberAddedGrain"
            />

            <SimpleTable
              :title="'Dostawcy, udział w wyrobie z poprzednich dni:'"
              :headers="[
                'Z dnia moczenia',
                'Z komory',
                'Data dostawy',
                'Od dostawcy',
                'Pobrano',
                'm450',
                'm750',
              ]"
              :keys="[
                'date',
                'chamber',
                'deliveryDate',
                'name',
                'val',
                'm450',
                'm750',
              ]"
              :sums="[false, false, false, false, true, false, false]"
              :columns="raports[i].dayRaport"
            />
          </v-container>

          <!-- <v-container grid-list-md >
                        <v-layout wrap >
                            <v-flex xs12 sm6 md4 > Pobrano z silosów:  </v-flex>
                            <v-flex xs12 sm6 md8> {{item.totalaAmountFromSilos}} </v-flex>

                            <v-flex xs12 sm2 md4>Silosy (%):</v-flex>
                            <v-flex xs12 sm2 md2>{{item.percentSilos1}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.percentSilos2}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.percentSilos3}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.percentSilos4}}</v-flex>

                            <v-flex xs12 sm2 md4>Silosy (t):</v-flex>
                            <v-flex xs12 sm2 md2>{{item.forSoakingSilos1}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.forSoakingSilos2}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.forSoakingSilos3}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.forSoakingSilos4}}</v-flex>

                            <v-flex xs12 sm2 md4>Komory napełniono (t):</v-flex>
                            <v-flex xs12 sm2 md2>{{item.addedToChaber1}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.addedToChaber2}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.addedToChaber3}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.addedToChaber4}}</v-flex>

                            <v-flex xs12 sm2 md4>Komory pobrano (t):</v-flex>
                            <v-flex xs12 sm2 md2>{{item.takenFromChaber1}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.takenFromChaber2}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.takenFromChaber3}}</v-flex>
                            <v-flex xs12 sm2 md2>{{item.takenFromChaber4}}</v-flex>
                        </v-layout>
                    </v-container>

                    <SimpleTable :title="'Dostawcy, komory napełniono:'" :headers="['Data dostawy', 'Dostawca', 'Napełniono', 'Z silosa']" :keys="['deliveryDate', 'name', 'in', 'silos']" :sums="[false, false, true, false]" :columns="raports[i].chamberAddedGrain" />

                    <SimpleTable :title="'Dostawcy, udział w wyrobie z poprzednich dni:'" :headers="['Z dnia moczenia', 'Z komory', 'Data dostawy', 'Od dostawcy', 'Pobrano', 'm450', 'm750']" :keys="['date', 'chamber', 'deliveryDate', 'name', 'val', 'm450', 'm750']"
                    :sums="[false, false, false, false, true, false, false]" :columns="raports[i].dayRaport" /> -->
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-container>
</template>

<script>
import dataService from "../dataService.js";
import SimpleTable from "../components/SimpleTable.vue";
import underscore from "underscore";
import print from "print-js";

export default {
  data() {
    return {
      urlRaports: "api/raports/", //'http://localhost:5000/api/raports/'
      urlDeliveries: "api/deliveries/", // 'http://localhost:5000/api/deliveries/'
      urlChambers: "api/chambers/", // 'http://localhost:5000/api/chambers/
      raports: [],
      loading: false,
    };
  },

  components: {
    SimpleTable,
  },

  created() {
    this.getRaports();
  },

  methods: {
    async getRaports() {
      // pobranie danych z bazy danych
      this.raports = underscore
        .sortBy(
          (this.raports = await dataService.getData(this.urlRaports)),
          "dateTime"
        )
        .reverse();
    },

    printToPdf(_item) {
      print({
        printable: _item._id,
        type: "html",
        documentTitle: "Młyn Gliwice",
        header:
          "Młyn Gliwice, raport dzienny " + _item.dateTime.substring(0, 10),
      });
    },

    async restoreDay(_item) {
      //console.log('restore')
      function deleteRaportDay(value) {
        return value.date != _item.dateTime.substring(0, 10);
      }
      let filteredArr = _item.chambersBackup.filter(deleteRaportDay); // pozbycie się z tabeli wpisu z dnia, kiedy był generowany raport (nie zgadzała się suma danych z komów)

      var restoreConfirm = confirm(
        "Czy na pewno przywrócić? Spowoduje to nieodwracalne usunięcie wpisów w bazie danych!"
      );
      if (restoreConfirm) {
        await dataService.deleteData(this.urlRaports, _item.dateTime); // skasowanie wszystkich raportów które są PO TYM dniu
        await dataService.deleteData(this.urlChambers); // skasowanie wszystkich danych z komór -> będą zastąpione tymi z raportu...
        if (filteredArr.length > 0)
          await dataService.insertData(this.urlChambers, filteredArr); // ... tutaj :)
        await dataService.deleteData(this.urlDeliveries, "id", _item.dateTime); // skasowanie wszystkich dostaw PO TYM dniu (nie wiadomo czy te nowsze nie zostały już pobrane itp, lepiej mieć czystą sytuację)
        if (_item.deliveriesBackup.length > 0)
          await dataService.updateData(
            this.urlDeliveries,
            _item.deliveriesBackup
          ); // aktualizacja listy dostaw
        console.log("PRZYWROCENIE OK");
      }
    },
  },
};
</script>