<template>
    <v-container>
        <!-- Nagłówek tabeli z przyciskiem dodania nowej dostawy-->
        <v-toolbar flat color="brown lighten-5">
            <v-toolbar-title>Silosy</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-btn fab dark small v-on:click.stop="dialog=true; showInValues=true" color="brown lighten-2">
                <v-icon>add</v-icon>
            </v-btn>
        </v-toolbar>

        <!-- Tabela z dostawami   :hide-actions="true" -->
        <v-data-table :headers="headers" :pagination.sync="pagination" :items="deliveries" :hide-actions="true" rows-per-page-text="" height="inherit" class="elevation-1 pa-0 ma-2">
            <template slot="items" slot-scope="props" class="text-xs-left pa-0 ma-0">
                <td class="text-xs-left pa-0 pl-2 ma-0">{{props.item.name}}</td>
                <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.date }}</td>
                <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.act_s1 }}</td>
                <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.act_s2 }}</td>
                <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.act_s3 }}</td>
                <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.act_s4 }}</td>
                <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item); showActValues=true">edit</v-icon>
                    <v-icon small class="mr-2" @click="deleteItem(props.item)">delete </v-icon>
                </td>
            </template>
        </v-data-table>

        <!-- Dialog z polami do edycji / dodania nnowej dostawy  -->
        <v-dialog v-model="dialog" max-width="700px" persistent>
            <v-card>
                <v-card-title>
                    <span class="headline">Dodaj nową dostawę</span>
                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <!-- Pobieracz daty -->
                            <v-flex xs12 sm6 md6>
                                <!-- <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :nudge-right="40" :return-value.sync="date" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                    <template v-slot:activator="{ on }">
                                        <v-text-field v-model="date" label="Wybierz datę" prepend-icon="event" readonly v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="date" no-title color="brown">
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="brown" @click="menu = false">Anuluj</v-btn>
                                        <v-btn flat color="brown" @click="$refs.menu.save(date)">OK</v-btn>
                                    </v-date-picker>
                                </v-menu> -->

                                <v-menu v-model="menu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                    <template v-slot:activator="{ on }">
                                        <v-text-field v-model="date" label="Wybierz datę" max-width="50px" prepend-icon="event" readonly v-on="on" :hide-details="true"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="date" @input="menu = false" no-title color="brown"></v-date-picker>
                                </v-menu>

                            </v-flex>
                            <!-- Lista rozwijana z dostawcami -->
                            <v-flex xs12 sm6 md6>
                                <v-autocomplete :items="suppliers" label="Dostawca*" v-model="editedItem.name" required menu-props="auto" autocomplete single-line hide-details :rules="[rules.required]">zzz</v-autocomplete>
                            </v-flex>
                            <!-- Ilości, które trafią do poszczególnych silosów -->
                            <v-flex xs12 sm2 md2 v-if="showInValues">
                                <v-text-field label="S1 Podnośnik" v-model="editedItem.in_s1" hint="Wartość w dniu dostawy" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm2 md2 v-if="showInValues">
                                <v-text-field label="S2 Waga" v-model="editedItem.in_s2" hint="Wartość w dniu dostawy" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm2 md2 v-if="showInValues">
                                <v-text-field label="S3 Lewy" v-model="editedItem.in_s3" hint="Wartość w dniu dostawy" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm2 md2 v-if="showInValues">
                                <v-text-field label="S4 Prawy" v-model="editedItem.in_s4" hint="Wartość w dniu dostawy" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 md4 v-if="showInValues">
                                <v-text-field label="Suma" v-model="totalAmount" hint="Dodane wartości z wszystkich silosów" @focus="$event.target.select()" persistent-hint :disabled="true" required></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm2 md2 v-if="showActValues">
                                <v-text-field label="S1 Podnośnik" v-model="editedItem.act_s1" hint="Wartość aktualna" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm2 md2 v-if="showActValues">
                                <v-text-field label="S2 Waga" v-model="editedItem.act_s2" hint="Wartość aktualna" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm2 md2 v-if="showActValues">
                                <v-text-field label="S3 Lewy" v-model="editedItem.act_s3" hint="Wartość aktualna" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm2 md2 v-if="showActValues">
                                <v-text-field label="S4 Prawy" v-model="editedItem.act_s4" hint="Wartość aktualna" @focus="$event.target.select()" :rules="[rules.hasComma, rules.isNumber]"></v-text-field>
                            </v-flex>

                        </v-layout>

                    </v-container>
                    <v-btn v-if="showActValues" dark v-on:click.stop="showActValues=true; showInValues=true" color="brown lighten-2">Pokaż wszystko</v-btn>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="brown" flat @click.stop="closeDialog();">Anuluj</v-btn>
                    <v-btn color="brown" flat @click.stop="save()">Zapisz</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>


    </v-container>
</template>


<script>
    import dataService from '../dataService.js'

    export default {
        data() {
            return {
                dialog: false,
                date: new Date().toISOString().substr(0, 10),
                menu: false,
                pagination: { // domyślne sortowanie po kolumnie z datą -> template: :pagination.sync="pagination"
                    sortBy: 'time',
                    descending: true,
                    rowsPerPage: -1
                },
                showInValues: false,
                showActValues: false,
                dbError: '',
                editedIndex: -1,
                url: 'api/deliveries/', // 'http://localhost:5000/api/deliveries/'
                url2: 'api/suppliers/', //  'http://localhost:5000/api/suppliers/'
                editedIndex: -1,
                deliveries: [],
                suppliers: [],
                editedItem: {
                    data: "",
                    name: "",
                    in_s1: 0,
                    in_s2: 0,
                    in_s3: 0,
                    in_s4: 0,
                    act_s1: 0,
                    act_s2: 0,
                    act_s3: 0,
                    act_s4: 0
                },
                defaultItem: {
                    data: "",
                    name: "",
                    in_s1: 0,
                    in_s2: 0,
                    in_s3: 0,
                    in_s4: 0,
                    act_s1: 0,
                    act_s2: 0,
                    act_s3: 0,
                    act_s4: 0
                },
                rules: {
                    required: value => !!value || 'Pole wymagane!',
                    min: v => v.length >= 8 || 'Min 8 characters',
                    items: (v) => !!v || 'Item is required',
                    hasComma: value => !value.toString().includes(',') || "Używać kropek!",
                    isNumber: value => !isNaN(value) || "Nie wartość liczbowa!",
                },
                headers: [{
                        text: 'Nazwa firmy',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Data dostawy',
                        align: 'center',
                        value: 'date'
                    },
                    {
                        text: 'S1 Podnośnik',
                        align: 'center',
                        sortable: false,
                        value: 'silos1'
                    },
                    {
                        text: 'S2 Waga',
                        align: 'center',
                        sortable: false,
                        value: 'silos2'
                    },
                    {
                        text: 'S3 Lewy',
                        align: 'center',
                        sortable: false,
                        value: 'silos3'
                    },
                    {
                        text: 'S4 Prawy',
                        align: 'center',
                        sortable: false,
                        value: 'silos4'
                    }
                ]
            }
        },
        created() {
            this.getDeliveries()
            this.getSuppliers()
        },

        computed: {
            totalAmount: function () {
                return (parseFloat(this.editedItem.in_s1) + parseFloat(this.editedItem.in_s2) + parseFloat(this.editedItem
                    .in_s3) + parseFloat(this.editedItem.in_s4)).toFixed(2)
            }
        },
        methods: {
            async getDeliveries() { // pobranie danych z bazy danych
                try {
                    this.deliveries = await dataService.getData(this.url)
                    //console.log(this.deliveries)
                } catch (err) {
                    this.dbError = err.message
                }
            },

            async getSuppliers() { // pobranie danych z bazy danych
                try {
                    const suppliersDb = await dataService.getData(this.url2) // kontrolka nie akceptuje danych z obiektów (np. suppliers.name), musi być zwykła tablica, np. stringów...
                    this.suppliers = suppliersDb.map(supplierName => supplierName.name).sort() // ...
                } catch (err) {
                    this.dbError = err.message
                }
            },

            editItem(item) {
                this.editedIndex = this.deliveries.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.date = this.editedItem.date // ustawienie daty takiej jak w edytowanym obiekcie  
                this.dialog = true
            },

            closeDialog() {
                this.editedIndex = -1
                this.editedItem = Object.assign({}, this.defaultItem)
                this.dialog = false
                this.showInValues = false
                this.showActValues = false
            },

            async save() { // zapis od bazy danych
                if (this.editedItem.name === '') { // Nie pozwól zapisać gdy nie jest wprowadzona nazwa dostawcy
                    return
                }

                const currentDate = new Date()
                const actTime = currentDate.getHours() + ':' + currentDate.getMinutes() + ':' + currentDate.getSeconds()
                try {
                    if (this.editedIndex == -1) { // dodaj nowy element do bazy danych
                        this.editedItem.date = this.date
                        this.editedItem.time = this.date + 'T' + actTime // będzie potrzebne do sortowania przy przeliczeniach po pobraniu do komór leżakowych
                        this.editedItem.act_s1 = this.editedItem.in_s1 // Przy dodawaniu nowej dostawy wielkości z dnia dostawy są równe wielkościom aktualnym
                        this.editedItem.act_s2 = this.editedItem.in_s2
                        this.editedItem.act_s3 = this.editedItem.in_s3
                        this.editedItem.act_s4 = this.editedItem.in_s4
                        await dataService.insertData(this.url, this.editedItem)
                    } else { /// edytuj element w bazie danych
                        this.editedItem.date = this.date
                        this.editedItem.time = this.date + 'T' + actTime
                        await dataService.updateData(this.url, this.editedItem)
                    }
                } catch (err) {
                    this.dbError = err.message
                }

                this.getDeliveries() // aktualizuj listę dostawców z bazy danych
                this.closeDialog()
            },

            async deleteItem(item) {
                var del = confirm('Czy na pewno usunąć?')
                if (del) {
                    try {
                        await dataService.deleteData(this.url, item._id)
                        this.getDeliveries()
                    } catch (err) {
                        this.dbError = err.message
                        console.log(error)
                    }
                }
            },

        }

    }
</script>

<style scoped>

</style>