<template>
  <v-container>
    <!-- Nagłówek tabeli z wyszukiwaniem i przyciskiem dodania nowego dostawcy-->
    <v-toolbar flat color="brown lighten-5">
      <v-toolbar-title>Lista dostawców</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-if="seen"
        v-model="search"
        append-icon="search"
        label="Szukaj"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn
        fab
        dark
        small
        v-on:click.stop="seen = !seen"
        color="brown lighten-2"
      >
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        v-on:click.stop="dialog = true"
        color="brown lighten-2"
      >
        <v-icon>add</v-icon>
      </v-btn>
    </v-toolbar>

    <!-- Tabela z dostawcami -->
    <v-data-table
      :headers="headers"
      :items="suppl"
      :search="search"
      :rows-per-page-items="[25, 50]"
      rows-per-page-text=""
      height="inherit"
      class="elevation-1 pa-0 ma-2"
    >
      <template slot="items" slot-scope="props" class="text-xs-left pa-0 ma-0">
        <td class="text-xs-left pa-0 pl-2 ma-0">{{ props.item.name }}</td>
        <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.zip }}</td>
        <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.city }}</td>
        <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.street }}</td>
        <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.nr }}</td>
        <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.nip }}</td>
        <td class="text-xs-center pa-0 pr-2 ma-0">{{ props.item.tel }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small class="mr-2" @click="deleteItem(props.item)"
            >delete</v-icon
          >
        </td>
      </template>
    </v-data-table>

    <!-- Dialog z polami do edycji / dodania nowego dostawcy  -->
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Dodaj / edytuj dostawcę</span>
        </v-card-title>

        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  v-model="editedItem.name"
                  label="Nazwa firmy"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  v-model="editedItem.street"
                  label="Ulica"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md2>
                <v-text-field
                  v-model="editedItem.nr"
                  label="Nr lokalu"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md2>
                <v-text-field
                  v-model="editedItem.zip"
                  label="Kod"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6 md4>
                <v-text-field
                  v-model="editedItem.city"
                  label="Miasto"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  v-model="editedItem.nip"
                  label="NIP"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  v-model="editedItem.tel"
                  label="Telefon"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="brown" flat @click.stop="closeDialog()">Anuluj</v-btn>
          <v-btn color="brown" flat @click.stop="save()">Zapisz</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
//import Dialog from '../components/Dialog.vue';
import dataService from "../dataService.js";

export default {
  //name: 'DataTable',

  data() {
    return {
      seen: false,
      dialog: false,
      dbError: "",
      url: "api/suppliers/", // adres do api serwera
      editedIndex: -1,
      suppl: [],
      editedItem: {
        name: "",
        zip: "",
        city: "",
        street: "",
        nr: "",
        nip: "",
        tel: "",
      },
      defaultItem: {
        name: "",
        zip: "",
        city: "",
        street: "",
        nr: "",
        nip: "",
        tel: "",
      },
      search: "",
      headers: [
        {
          text: "Nazwa firmy",
          align: "left",
          sortable: true,
          value: "name",
        },
        {
          text: "Kod pocztowy",
          align: "center",
          sortable: false,
          value: "zip",
        },
        {
          text: "Miasto",
          align: "center",
          sortable: true,
          value: "city",
        },
        {
          text: "Ulica",
          align: "center",
          sortable: false,
          value: "street",
        },
        {
          text: "Nr lokalu",
          align: "center",
          sortable: false,
          value: "nr",
        },
        {
          text: "NIP",
          align: "center",
          sortable: false,
          value: "nip",
        },
        {
          text: "Telefon",
          align: "center",
          sortable: false,
          value: "tel",
        },
      ],
    };
  },
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      // pobranie danych z bazy danych
      try {
        this.suppl = await dataService.getData(this.url);
      } catch (err) {
        this.dbError = err.message;
      }
    },

    editItem(item) {
      this.editedIndex = this.suppl.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    async save() {
      // zapis od bazy danych
      try {
        if (this.editedIndex == -1) {
          // dodaj nowy element do bazy danych
          await dataService.insertData(this.url, this.editedItem);
        } else {
          /// edytuj element w bazie danych
          await dataService.updateData(this.url, this.editedItem);
        }
      } catch (err) {
        this.dbError = err.message;
      }
      this.getData(); // aktualizuj listę dostawców z bazy danych
      this.closeDialog();
    },

    closeDialog() {
      this.editedIndex = -1;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.dialog = false;
    },

    async deleteItem(item) {
      var del = confirm("Czy na pewno usunąć?");
      if (del) {
        try {
          //console.log('delete ' + item._id)
          await dataService.deleteData(this.url, item._id);
          this.getData();
        } catch (err) {
          this.dbError = err.message;
          console.log(error);
        }
      }
    },
  },
};
</script>

<style scoped></style>
