<template>
    <v-footer class="pa-3" height=10 color="brown lighten-4" app>
      <v-spacer></v-spacer>
      <!-- <div>&copy; Paweł {{ new Date().getFullYear() }}</div> -->
      <div>&copy; Paweł 2019 </div>
    </v-footer>
</template>


<script>
  export default {
    name: 'Footer',
    data() {
      return {

      }
    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>