<template>
    <table class="table">
        <thead>
            <tr>
                <!-- Ustawienie pełnej szerokości nagłówka -->
                <th :colspan="headers.length">{{title}}</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th v-for="item in headers" v-bind:key="item">{{item}}</th>
            </tr>

            <tr v-for="entry in columns" :key="entry.time">
                <td v-for="item in keys" :key="item">
                    {{entry[item]}}
                </td>
            </tr>

            <!-- Ostatni wiersz - wyświetlenie sum dla żądanych kolumn -->
            <tr>
                <td v-for="(item, index) in keys" :key="item">
                    <span v-if="sums[index]" class="font-weight-medium font-italic" >{{sumColumn(item)}}</span>
                    <span v-else></span>
                </td>
            </tr>
        </tbody>
    </table>
</template>


<script>
    export default {
        props: {
            title: String,
            headers: Array,
            columns: Array,
            keys: Array,
            sums: Array
        },
        data() {
            return {}
        },
        computed: {},
        created() {},
        methods: {
            sumColumn(_key) {
                let sum = 0;
                this.columns.forEach(element => {
                    sum += parseFloat(element[_key])
                })
                return sum.toFixed(1)
            },
        }
    }
</script>


<style scoped>
    table.table {
        padding-left: 15px;
        margin-bottom: 15px;
        width: 100%;

        border: 1px solid hsl(49, 55%, 68%);
        border-radius: 3px;
    }

    .table-row {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-grow: 0;
        -webkit-flex-grow: 0;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .table th {
        text-align: left;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    th,
    td {
        min-width: 30px;
    }
</style>