<template>
    <div>

        <v-navigation-drawer v-model="drawer" right temporary clipped app>
            <v-list dense>
                <v-list-tile v-for="item in items" :key="item.title" @click.stop="right = !right" :to="item.link">

                    <v-list-tile-action>
                        <v-tooltip bottom>
                            <v-icon slot="activator">{{item.icon}}</v-icon>
                            <span>{{item.tooltip}}</span>
                        </v-tooltip>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{item.title}}</v-list-tile-title>
                    </v-list-tile-content>

                </v-list-tile>
            </v-list>

            <v-divider></v-divider>
            <!-- <v-list-tile-action>
                    <v-icon >weekend</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Wyloguj</v-list-tile-title>
            </v-list-tile-content> -->

        </v-navigation-drawer>

        <v-toolbar dense fixed app clipped-right color="brown lighten-4">
            <v-toolbar-title class="headline font-weight-light">
                <span>
                    Młyn</span>
                <span class=" text-uppercase headline">Gliwice</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn to="/" icon>
                <v-tooltip bottom>
                    <v-icon slot="activator">home</v-icon>
                    <span>Powrót do strony startowej</span>
                </v-tooltip>
            </v-btn>

            <v-btn to="/suppliers" icon>
                <v-tooltip bottom>
                    <v-icon slot="activator">local_shipping</v-icon>
                    <span>Dodawanie, edycja, kasowanie dostawców</span>
                </v-tooltip>
            </v-btn>



            <v-btn to="/silos" icon>
                <v-tooltip bottom>
                    <v-icon slot="activator">panorama_vertical</v-icon>
                    <span>Rejestrowanie nowych dostaw zboża oraz ich podział do silosów</span>
                </v-tooltip>
            </v-btn>

            <v-btn to="/chambers" icon>
                <v-tooltip bottom>
                    <v-icon slot="activator">opacity</v-icon>
                    <span>Komory leżakowe</span>
                </v-tooltip>
            </v-btn>

            <v-btn icon @click.stop="drawer = !drawer">
                <v-icon>more_vert</v-icon>
            </v-btn>
        </v-toolbar>

    </div>

</template>

<script>
    export default {
        name: 'Toolbar',
        data() {
            return {
                drawer: null,
                right: null,
                items: [
                    // {
                    //     title: 'Home',
                    //     icon: 'home',
                    //     link: '/',
                    //     tooltip: 'Główna strona programu'
                    // },
                    {
                        title: 'Historia dostaw',
                        icon: 'history',
                        link: '/history',
                        tooltip: 'Historia wszystkich dostaw do silosów'
                    },
                    {
                        title: 'Raporty',
                        icon: 'folder_open',
                        link: '/raports',
                        tooltip: 'Raporty z poprzednich dni moczenia'
                    },
                    {
                        title: 'Baza Danych',
                        icon: 'storage',
                        link: '/mongoService',
                        tooltip: 'Czyszczenie bazy danych, serwis, backup, przywrócenie dni... '
                    },
                    {
                        title: 'Info',
                        icon: 'info_outline',
                        link: '/about',
                        tooltip: 'Informacje, wersja itp.'
                    },
                    {
                        title: 'Pomoc',
                        icon: 'help_outline',
                        link: '/help',
                        tooltip: 'Obsługa aplikacji'
                    }
                ],
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>